<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="./css/styles.css">
   
</head>

<body>
    {{>header}}

    <p> Use this App to get the weather details</p>


    <div> 

        <form>
            <input placeholder="Enter a location"> 
            <button>Search</button>

        </form>

    </div>

    <p id="message-1"></p>
    <p id="message-2"></p>
    <p id="message-3"></p>
    <p id="message-4"></p>

    {{>footer}}  
</body>
    <script src="/js/script.js"></script>
</html>